* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto Condensed', sans-serif;
}

body {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(340deg, rgba(62, 147, 252, 0.57) 12.9%, rgba(239, 183, 192, 0.44) 91.2%);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.navbar {
    padding: 3rem 5rem;
}

.logo {
    position: absolute;
}

.bg {
    height: 12rem;
    opacity: 0.8;
}

.cloud {
    height: 9rem;
    opacity: 0.9;
    top: 5rem;
    left: 5rem;
}

.sun {
    height: 5rem;
    left: 11rem;
    top: 5rem;
}

.image {
    -webkit-animation: spin 4s linear infinite;
    -moz-animation: spin 4s linear infinite;
    animation: spin 4s linear infinite;
}

@-moz-keyframes spin {
    100% {
        -moz-transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}



h1 {
    font-size: 4rem;
    text-align: center;
    color: rgba(0, 61, 135, 0.711);
    margin-top: 3rem;
    text-shadow: 3px 3px 8px rgb(0 0 0/17%);
}

.box-container {
    display: flex;
    justify-content: center;
    padding: 5rem;
}

.box-container input {
    width: 50rem;
    height: 5rem;
    font-size: 2rem;
    border: 5px solid #F0F0F0;
    border-radius: 15px;
    box-shadow: 0 0 50px 0 rgb(0 0 0/17%);
    padding: 1rem;
}

.box-container input::placeholder {
    font-size: 2rem;
    align-items: center;
    margin-top: 1rem;
}


.text {
    font-size: 2rem;
}

.result {
    display: flex;
    justify-content: center;
}

#center {
    width: 48rem;
    line-height: 3rem;

}

#city-name,
#temp,
#description,
#minmax,
#humidity,
#wind {
    display: flex;
    justify-content: space-between;
}

.copy {
    font-size: 30px;
    bottom: 2rem;
    right: 45%;
    position: absolute;

}

.copy a {
    text-decoration: none;
    color: white;
}


@media only screen and (max-width: 414px) {

    .navbar {
        padding: 2rem;
    }

    .bg {
        height: 6rem;
        opacity: 0.8;
    }

    .cloud {
        height: 5rem;
        opacity: 0.9;
        top: 3rem;
        left: 1.5rem;
    }

    .sun {
        height: 3rem;
        left: 4.5rem;
        top: 3rem;
    }

    h1 {
        font-size: 20px;
        text-align: end;
        margin-top: 1rem;
    }

    .box-container {
        display: flex;
        justify-content: center;
        padding: 5rem;
    }

    .box-container input {
        width: 20rem;
        height: 3rem;
        font-size: 1rem;
        border: 5px solid #F0F0F0;
        border-radius: 15px;
        box-shadow: 0 0 50px 0 rgb(0 0 0/17%);
        padding: 1rem;
    }

    .box-container input::placeholder {
        font-size: 1rem;
    }


    .text {
        font-size: 1rem;
    }


    #center {
        width: 20rem;
        line-height: 2rem;
    }


    .copy {
        font-size: 20px;
        bottom: 2rem;
        right: 30%;

    }

    .copy a {
        text-decoration: none;
        color: white;
    }


}